
body {
    background-image: url("images/bg.png");   /* red, blue, yellow, etc */
    background-size: cover;
    color: rgb(255, 255, 255);             /* red, blue, yellow, etc */
    font-size: 20px;        /* 0px - 100px and beyond */
    font-weight: lighter;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 5px;        /* From 0px and upwards   */
}

.top{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}


.bottom{
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.mid_img{
    height: 230px;
    width: 380px;
    border-radius: 15px;
}

.mid_btn{
    margin: auto;
    padding: 10px;
    border-radius: 15px;

}

.cont_btn{
    width: 25px;
    border-radius: 15%;
}