html{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: 0%;
    background-image: linear-gradient(to left bottom, #1c1c1c, #252525, #2e2e2e, #373737, #414141, #4a4a4a, #535353, #5c5c5c, #666667, #717171, #7b7c7c, #868787);
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
    font-weight: normal;
}

.nav-bar{
    background-color: rgb(53, 47, 47);
    position: fixed;
    margin-top: 0px;
    color: antiquewhite;
    padding: 10px;
    padding-top: 50px;
    border-radius: 0px 15px 15px 0px;
    height: 100%;
    left: -230px;
    width: 250px;
    writing-mode: vertical-rl;
    text-align: center;
    transition: 0.8s;
}

.nav-bar:hover{
    writing-mode: horizontal-tb;
    left: 0px;
    padding: auto;
    justify-content: center;
}

.nav-options{
    padding: 10px;
    list-style: none;
    text-align: center;
}

.nav-options-items{
    margin: 50px;
}

.nav-options-anchors{
    text-decoration: none;
    color: antiquewhite;
}

.top{
    color: azure;
    background-color: rgb(53, 47, 47);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding-top: 10px;
    height: 40px;
    text-align: center;
}

.mid{
    color: antiquewhite;
    bottom:50%;
    text-align: center;
}

footer{
    background-color:rgb(53, 47, 47);
    color: azure;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    display: block;
    margin-bottom: 0px;
    margin-top: auto;
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
}

.mid_img{
    height: auto;
    width: 80%;
    border-radius: 15px;
}

.mid_btn{
    margin: auto;
    padding: 10px;
    border-width: 3px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
    color: azure;

}

.mid_btn:hover{
    background-color: #373737;
}


.li_image{
    height: 25px;
}

.gh_image{
    height: 25px;
}

@media screen and (max-width: 450px) {
    .top{
        border-radius: 0px 0px 10px 10px;
    }
    .nav-bar{
        height: 70%;
        margin-top: 100px;
        width: 240px;
    }
    .nav-bar:hover{
        height: 500px;
        left: 15%;
        border-radius: 15px;
    }
}