html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 15.8in;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: 0%;
    background-image: linear-gradient(to left top, #9115d4, #8148e2, #7565ea, #707cee, #7390ed, #7390ed, #7390ed, #7390ed, #707cee, #7565ea, #8148e2, #9115d4);
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.top{
    color: azure;
    background-color: rgb(53, 47, 47);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.mid{
    position: absolute;
    top: 35%;
}

.footer{
    background-color:rgb(53, 47, 47);
    color: azure;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    display: block;
    margin-bottom: 0px;
    margin-top: auto;
    padding: 5px;
}

.mid_img{
    height: auto;
    width: 40%;
    border-radius: 15px;
}

.mid_btn{
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    background-color: gray;
    color: azure;

}
.mid_btn:hover{
    background-color: #5300b9;
    color: azure;
}

.li_image{
    height: 25px;
}

.gh_image{
    height: 25px;
}
